/*TIPOGRAFIAS*/
@font-face{
	font-family:"Sunday Best";
	src:url("../assets/font/Sunday\ Best\ ttf.ttf");
}

@font-face{
	font-family:"Century Gothic";
	src:url("../assets/font/GOTHIC.TTF");
}

/*CUERPO*/
*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
    text-align: center;
    position: relative;
    font-family:"Century Gothic";
    min-height: 700px;
}

h1{
    font-family:"Sunday Best";
    color: white;
    margin: 40px 0 60px 0;
}

label{
    display: inline-block;
}

/*NAV*/
header nav{
    background-color: white;
    height: 100px;
    font-family:"Sunday Best";
    text-align: left;
}

header nav ul{
    display: flex;
    list-style: none;
    align-items: center;
}

header nav ul li{
    flex-grow: 2;
    flex-shrink: 1;
    cursor: pointer;
    transition: 0.4s;
}

header nav ul li:hover{
    color: #4ea2f5;
}

header nav ul li:last-child{
    flex-grow: 1;
    flex-shrink: 2;
}

header nav ul li:first-child{
    flex-grow: 6;
    flex-shrink: 1;
}

#logo{
    height: 100px;
}

#icono{
    height: 40px;
}

#li1{
    padding-left: 40px;
}

/*LISTADO DE PELICULAS*/
#listado, #resul{
    width: 80%;
    height: auto;
    display: flex !important;
    flex-wrap: wrap;
    justify-content:space-around;
    margin: auto;
    gap: 30px;
    min-height: 600px;
}

#listado h1, #nueva h1, #datos h1, #eliminar h1, #modificar h1{
    width: 100%;
}

.pelicula{
    width: 200px;
    height: 250px;
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: transparent;
    cursor: pointer;
}

.pelicula h2{
    font-weight: normal;
}
.pelicula:hover div{
    display: block;
}

.pelicula:hover h2{
   color: white;
   position: relative;
   top: -150px;
}

.oculto{
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.8;
    display: none;
}

#peli1{
    background-image: url("../assets/recursos/elite.webp");
}

#peli2{
    background-image: url("../assets/recursos/Las-ventajas-de-ser-un-marginado-1.jpeg");
}

#peli3{
    background-image: url("../assets/recursos/mujercitas.jpg");
}

#peli4{
    background-image: url("../assets/recursos/shrek.jpg");
}

#peli5{
    background-image: url("../assets/recursos/wakanda.jpg");
}

#peli6{
    background-image: url("../assets/recursos/titanic.jpeg");
}

/*CONSULTA DE UNA PELICULA*/
#datos{
    text-align: center;
}

#datos table, #datos th,#datos td {
    border: 1px solid white;
    border-collapse: collapse;
    padding: 20px;
}

#datos  table{
    color: white;
    width: 80%;
    margin: auto;
}

#datos button, #nueva button, #eliminar button, #modificar button, #buscar button{
    margin: 50px 20px 0 20px;
    font-size: 1.3em;
    padding: 10px;
    border-radius: 15px;
    transition: 0.4s;
    cursor: pointer;
}

#datos button:hover, #nueva button:hover, #eliminar button:hover, #modificar button:hover, #buscar button:hover{
    padding: 13px;
}

.btnEliminar{
    background-color: #ff3359;
    color: black;
}

.btnModificar{
    background-color: #4ea2f5;
    color: black;
}


/*NUEVA PELICULA*/
#nueva form, #modificar form{
    color: white;
    font-family: "Century Gothic";
}

#nueva form input,label, select{
    margin: 15px 10px;
    font-size: 17px;
}

#modificar form input,label, select{
    margin: 15px 10px;
    font-size: 17px;
}

.caja{
   width: 49%;
   display: inline-block;
}



#camposrellenos, #camposrellenosEditar{
    display: none;
    color: white;
}

#insertado{
    display: none;
    color: white;
}

/*Autocomplete*/
.ui-autocomplete{
    background-color: white;
    width: 200px;
    text-align: left;
}

.ui-autocomplete li{
    cursor: pointer;
}

.ui-autocomplete li:hover{
    background-color: lightskyblue;
}

/*Chechradio*/
.ui-checkboxradio, .ui-checkboxradio-label{
    cursor: pointer;
}

/*ELIMINAR PELICULA*/
#eliminar p{
    color:white
}

#eliminar h1{
    margin: 0;
    margin-top: 40px;
}

#buscar{
    color: white;
}

#genero{
    margin-left: 60px;
}

#resul{
    margin-top: 50px;
}

/*DATOS TIPO FECHA DATEPICKER*/
.ui-datepicker{
    background-color: #4ea2f5;
    
}
.ui-datepicker-calendar{
    border-collapse: collapse;
}

.ui-icon {
    cursor: pointer;
    margin: 5px;
}

.ui-datepicker td,.ui-datepicker th{
    background-color: white;
    border: 0;
    padding: 10px;

}

.ui-datepicker td a{
    text-decoration: none;
    color: black;
}

.ui-datepicker .ui-icon{
    font-size: 2em;
    margin: 0px 30px;
    padding-top: 15px;
}

.ui-tooltip{
    background-color: lightblue;
    width: 300px;
    border-radius: 5px;
}

 /*Dialog*/
.ui-dialog{
    background-color: white;
    top:-800px !important;
    width: 400px !important;
}

#dialog p{
    padding: 50px;
}
.ui-dialog-titlebar{
    padding: 20px;
    background:#ff3359;
    border: 1px solid #ff3359;
    color: black;
    font-weight: bold;
}

.ui-dialog .ui-button{
    background-color: transparent;
    border:0;
    float: right;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.5em;
}
/*FOOTER*/
footer{
    min-height: 40px;
    background-color: white;
    margin-top: 100px;
    padding: 30px;
    text-align: left;
}


footer p{
    float: left;
}

footer img{
    float: right;
    height: 50px;
}

/*Tablet*/
@media (max-width:850px) {
    .caja{
        width: auto;
        display: block;
    }

    footer img, p{
        float: none !important;
    }

    footer{
        text-align: center;
    }

    footer img{
        margin-top: 15px;
    }
}

/*Moviles*/
@media (max-width:450px) {
    header nav ul li{
        font-size: 0.8em;
    }

    #li1{
        padding-left:10px;
    }

    #icono{
        height: 35px;
    }

    #li1 img{
        height: 85px;
    }

    
}
